<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{fragments/fragments :: header}"/>
<body>
<div class="container-fluid text-center">
    <div></div><h2>Manage events</h2></div>
    <div class="m-2">
        <a class="h3" th:href="@{/events/add}">New event</a>
    </div>
    <div th:if="${message}" class="alert alert-success text-center" th:text="${message}">
    </div>
    <div th:if="${error}" class="alert alert-danger text-center" th:text="${error}">
    </div>
    <div>
        <table class="table table-bordered">
            <thead class="table-dark">
            <tr>
                <th>Event Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Time</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="e : ${eventList}">
                <tr>
                    <td th:text="${e.name}" />
                    <td th:text="${e.description}" />
                    <td th:text="${#dates.format(e.date, 'dd. MM. yyyy')}" />
                    <td th:text="${e.time}" />
                    <td>
                        <a class="h4 me-3" th:href="@{/events/edit/} + ${e.id}">Edit</a>
                        <a class="h4" th:href="@{/events/delete/} + ${e.id}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>